<% layout("/layouts/boilerplate") %>
<div class="row mt-3"> <!--add mid margin from top-->
<div class="alert alert-danger col-6 offset-3" role="alert"> <!--Total = 3 + 6 + 3 = 12 Result: alert appears centered-->
    👉                                                        
    <p><%= message %></p>
  </div>
</div> 