/* * {
    background-color: pink;
} */
.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass {
    color: #fe424d;
}
.nav-link {
color: #222222 ! important;  /* so that custom style overpower bootstrap style*/
}
/*footer*/
.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover {
    text-decoration: underline;
}
.f-info-links,
.f-info-socials,
.brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i {
    font-size: 1.2 rem;
    margin-right: 1 rem;
}

.f-info {
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

